.employee-overlay{
  position: fixed;
  top: 0;
  left:0;
  z-index:99;
  display: none;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(50,50,50,.7);
  height:100%;
  width:100%;
}
.employee-name{
  text-align:center;
}
hr.faded{
  width: 90%;
  border:none;
  height:1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#333), to(#ddd));
}
.btn{margin-bottom:10px;}
.name-hide{display: none;}
.save-btn-container{display: none;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #ddd;
  border-color: #ddd;
  box-shadow: none;
  color: #333;  
}
.form-employee {
  padding: 0 15px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.form-employee label{
  line-height: 32px;
  font-size:17px;
}
.form-employee .checkbox {
  font-weight: normal;
}
.form-employee .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}
.form-employee .form-control:focus {
  z-index: 2;
}
.form-group{
  margin-bottom: 5px;
}