<div class="container-fluid">
    <div class="row">
        <header id="header" class="header">
            <img src="views/assets/img/logo.png" class="logo" alt="HM Staffing">
            <div class="user">
                <div class="login-user-container">
                    <span class="login-user">Hagan McPhail</span>
                </div>
                <div class="sign-out-container">
                    <span class="sign-out">Sign Out</span>                            
                </div>
            </div>
        </header>
    </div><!-- /header -->
    <!-- <div class="employee-overlay"></div> -->
    <div class="utility-container">
        <div id="employee-view">
            
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <button class="btn btn-default filter-btn" type="button">
                            <i class="fa fa-filter"></i>
                        </button>
                        <button class="btn btn-default add-employee-btn" type="button">
                            <div class="add-employees-txt">
                                Add Employees        
                            </div>
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                <div class="row">
                    <div class="input-group search">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search fa-fw"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div> -->
    </div><!-- /utility-container -->
    <div class="employee-list-container">
        <div class="row visible-lg list-header">
            <div class="col-xs-11 text-left">
                <div class="row">
                    <div class="col-lg-2">Name:</div>
                    <div class="col-lg-2">Title:</div>
                    <div class="col-lg-2">Email:</div>
                    <div class="col-lg-2">Phone:</div>
                    <div class="col-lg-2">City:</div>
                    <div class="col-lg-2">State:</div>
                </div>
            </div>
        </div>
        <div id="list-view" class="row">

        </div>
    </div>
</div>