
        
<div class="col-xs-12 employee-list">
    {{#employees}}
        <div id="{{id}}" class="row employee-record {{oddEven}}">
            <div id="{{id}}" class="col-xs-11 employee-popup" data-id="{{id}}">
                <div class="row">
                    <div class="col-xs-9 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">Name:</div>
                        <div>{{first_name}}  {{last_name}}</div>
                    </div>
                    <div class="col-xs-3 visible-xs">
                        <div class="text-right delete" data-id="{id}}"><i class="fa fa-trash-o"></i></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">Title:</div>
                        <div>{{job_title}}</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">Email:</div>
                        <div class="wrap">{{email}}</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">Phone:</div>
                        <div>{{phone1}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">City:</div>
                        <div class="wrap">{{city}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="label-input hidden-lg">State:</div>
                        <div class="wrap">{{state}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 hidden-xs">
                <div class="row">
                    <div class="hidden-xs">
                        <div class="text-center delete" data-id="{{id}}"><i class="fa fa-trash-o"></i></div>
                    </div>
                </div>
            </div>
        </div>
    {{/employees}}
</div>
