<div class="container-fluid">
    <div class="row">
        <header id="header" class="header">
            <img src="views/assets/img/logo.png" class="logo" alt="HM Staffing">
            <div class="user">
                <div class="login-user-container">
                    <span class="login-user">Hagan McPhail</span>
                </div>
                <div class="sign-out-container">
                    <span class="sign-out">Sign Out</span>                            
                </div>
            </div>
        </header>
    </div><!-- /header -->
    <!-- <div class="employee-overlay"></div> -->
    <div id="employee-view" class="utility-container">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <form class="form-employee form-horizontal">
                                        <fieldset>
                                            <h2 class="form-heading employee-name"></h2>
                                            <hr class="faded">
                                            <div class="form-group name-hide">
                                                <label class="col-md-4 control-label" for="title">First :</label>  
                                                <div class="col-md-6">
                                                    <input id="first_name" name="first-name" type="text" class="form-control input-md" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group name-hide">
                                                <label class="col-md-4 control-label" for="title">Last :</label>  
                                                <div class="col-md-6">
                                                    <input id="last_name" name="last-name" type="text" class="form-control input-md" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="title">Title :</label>  
                                                <div class="col-md-6">
                                                    <input id="job_title" name="title" type="text" class="form-control input-md" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="city">City :</label>  
                                                <div class="col-md-6">
                                                    <input id="city" name="city" type="text" class="form-control input-md" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="state">State :</label>  
                                                <div class="col-md-6">
                                                    <input id="state" name="state" type="text" class="form-control input-md" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="email">Email :</label>  
                                                <div class="col-md-6">
                                                    <input id="email" name="email" type="text" class="form-control input-md" disabled="false" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="phone1">Phone :</label>  
                                                <div class="col-md-6">
                                                    <input id="phone1" name="phone1" type="text" class="form-control input-md bfh-phone" data-format="(ddd) ddd-dddd" disabled="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="phone2">Phone 2 :</label>  
                                                <div class="col-md-6">
                                                    <input id="phone2" name="phone2" type="text" class="form-control input-md bfh-phone" data-format="(ddd) ddd-dddd" disabled="" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row edit-btn-container">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-primary btn-block employee-edit-btn" type="button">Edit &nbsp; &nbsp; <i class="fa fa-pencil fa-fw"></i></button>
                                        </div>
                                    </div>
                                    <div class="row save-btn-container">
                                        <div class="col-sm-4">
                                            <button class="btn btn-lg btn-primary btn-block employee-save-btn" type="button">Save &nbsp; &nbsp; <i class="fa fa-floppy-o fa-fw"></i></button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-lg btn-primary btn-block employee-save-btn" type="button">Cancel &nbsp; &nbsp; <i class="fa fa-ban fa-fw"></i></button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-lg btn-primary btn-block employee-save-btn" type="button">Delete &nbsp; &nbsp; <i class="fa fa-trash-o fa-fw"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <button class="btn btn-default filter-btn" type="button">
                            <i class="fa fa-filter"></i>
                        </button>
                        <button class="btn btn-default add-employee-btn" type="button">
                            <div class="add-employees-txt">
                                Add Employees        
                            </div>
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                <div class="row">
                    <div class="input-group search">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search fa-fw"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /utility-container -->
    <div class="employee-list-container">
        <div class="row visible-lg list-header">
            <div class="col-xs-11 text-left">
                <div class="row">
                    <div class="col-lg-2">Name:</div>
                    <div class="col-lg-2">Title:</div>
                    <div class="col-lg-2">Email:</div>
                    <div class="col-lg-2">Phone:</div>
                    <div class="col-lg-2">City:</div>
                    <div class="col-lg-2">State:</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 employee-list">
                {{#employees}}
                <div id="{{id}}" class="row employee-record row">
                    <div class="col-xs-11 employee-popup" data-id="{{id}}">
                        <div class="row">
                            <div class="col-xs-9 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">Name:</div>
                                <div>{{first_name}} {{last_name}}</div>
                            </div>
                            <div class="col-xs-3 visible-xs">
                                <div class="text-right"><i class="fa fa-trash-o"></i></div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">Title:</div>
                                <div>{{job_title}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">Email:</div>
                                <div class="wrap">{{email}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">Phone:</div>
                                <div>{{phone1}}</div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">City:</div>
                                <div class="wrap">{{city}}</div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="label-input hidden-lg">State:</div>
                                <div class="wrap">{{state}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 hidden-xs">
                        <div class="row">
                            <div class="hidden-xs">
                                <div class="text-center delete" data-id="{{id}}"><i class="fa fa-trash-o"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/employees}}
            </div>
        </div>
    </div>
</div>