<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="lib/css/main.css" rel="stylesheet">
        <link href="lib/css/login-view.css" rel="stylesheet">
        <script src="lib/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    </head>
    <body>
        <div class="background-overlay">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12 logo-container">
                        <img src="lib/img/logo.png" style="height:80px;" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 popup-container">
                        <form class="form-signin">
                            <h2 class="form-heading">Sign In</h2>
                            <label for="inputEmail" class="sr-only">Email Address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="" autofocus="">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- script references -->
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="lib/js/scripts.js"></script>
        <script type="text/javascript"></script>
    </body>
</html>